// Font Stacks

$times-new-roman: "Times New Roman", Times, Georgia, serif;
$times:           Times, "Times New Roman", Georgia, serif;
$georgia:         Georgia, "Times New Roman", serif;
$verdana:         Verdana, Tahoma, sans-serif;
$tahoma:          Tahoma, Verdana, sans-serif;
$helvetica:       Helvetica, Arial, sans-serif;
$arial:           Arial, Helvetica,  sans-serif;
$courier:         "Courier New", monospace, sans-serif;

$base-font: $verdana;
