// Base units

// Fonts
$base-font-size: 10; // Don't use unit value
$base-line-height: 1.944; //35px

// Page Width
$max-page-width: 110rem;
$max-page-small: 85rem;

// Cadence (eg. Rhythm, but I can't spell that to save my life)
// For use in standardizing page margins/padding/vertical spacing
$cadence: 2rem;
$cadence-wide: 4rem;
